
.vs/MGlobal/xs/project-cache/MGlobal-Debug.json
.vs/MGlobal/xs/project-cache/MGlobal.Api-Debug.json
.vs/MGlobal/xs/project-cache/MGlobal.Core-Debug.json
.vs/MGlobal/xs/project-cache/MGlobal.Test-Debug.json
